{% extends 'master/base.html' %}
{% block 'title' %}
Create|Income
{% endblock %}



{% block 'content' %}
<div class="container pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">M-Track</a></li>
          <li class="breadcrumb-item"><a href="{% url 'income_home' %}">Income</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
      </nav>
    <div class="row">
        {% include 'partials/inc_sidebar.html' %}
        <div class="col-md-8">
            {% if msg %}
                <div class="alert alert-success">
                    {{msg}}
                </div>
            {% endif %}
            {% if errmsg %}
                <div class="alert alert-danger">
                    {{errmsg}}
                </div>
            {% endif %}

<div class="jumbotron"  style="background: rgba(133, 187, 101, 0.1);">

            <form action="{% url 'inc_create' %}" method="post">
                {{form}}
                {% csrf_token %}
                <br>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
</div>

        </div>
    </div>
</div>
<script>
          document.getElementById("id_date").valueAsDate = new Date();

</script>
{% endblock %}
