{% extends 'master/base.html' %}
{% block 'title' %}
ExpenseTracker| Income
{% endblock %}

{% block 'css' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <style>

        .hiddenRow {
            padding: 0 4px !important;
            background-color: #eeeeee;
            font-size: 20px;
        }
        .accordian-body span{
            color:#a2a2a2 !important;
        }

</style>
{% endblock %}


{% block 'content' %}

<div class="container pt-3">
    <div class="row">
        {% include 'partials/inc_sidebar.html' %}
        <div class="col-md-8">

                <div class="container pt-3">

                     <div class="jumbotron">

                               <fieldset>
                                    <legend>This Week's Income:</legend>
                                    {% if income %}
                                    <table class="table table-hover">
                                        <thead>
                                                    <th>Source</th>
                                                    <th>Income</th>
                                                    <th>Date</th>
                                        </thead>

                                        <tbody>
                                                {% for e in income %}
                                                    <tr colspan="6" data-toggle="collapse" data-target="#{{e.id}}" class="accordion-toggle">
                                                        <td>{{e.source}}</td>
                                                        <td>{{e.income}}</td>
                                                        <td>{{e.date}}</td>
                                                    </tr>
                                                    <tr class="p">
                                                        <td colspan="6" class="hiddenRow">
                                                            <div class="accordian-body collapse p-3" id="{{e.id}}">
                                                                <p>Date : <span>{{e.date}}</span>
                                                                <p>Day : <span>{{e.date|date:'l'}}</span> </p>
                                                                <p>Source : <span>{{e.source}}</span> </p>
                                                                <p>Income : <span>{{e.income}}</span> </p>

                                                            </div>
                                                        </td>
                                                    </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    No income this week
                                    {% endif %}
                               </fieldset>

                     </div>

                </div>

        </div>

    </div>
</div>

<script>

    $('.accordion-toggle').click(function(){
        $('.hiddenRow').hide();
        $(this).next('tr').find('.hiddenRow').show();
        });

</script>


{% endblock %}
