{% extends 'master/base.html' %}
{% block 'title' %}
ExpenseTracker| Income
{% endblock %}

{% block 'css' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block 'content' %}
<div class="container pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'income_home' %}">Income</a></li>
          <li class="breadcrumb-item active" aria-current="page">Income Home</li>
        </ol>
      </nav>
    <div class="row">
        {% include 'partials/inc_sidebar.html' %}
        <div class="col-sm-8">

                

                     <div class="jumbotron" style="background: rgba(132, 187, 101, 0.1);">

                               <fieldset>
                                    <legend>Income in the month of {{month}}</legend>
                                   {% if income %}
                                                <table class="table table-hover">
                                                    <thead>
                                                                <th>Source</th>
                                                                <th>Income</th>
                                                                <th>Date</th>
                                                    </thead>

                                                    <tbody>
                                                            {% for e in income %}
                                                                <tr colspan="6" data-toggle="collapse" data-target="#{{e.id}}" class="accordion-toggle">
                                                                    <td>{{e.source}}</td>
                                                                    <td>{{e.income}}</td>
                                                                    <td>{{e.date}}</td>
                                                                </tr>
                                                                <tr class="p">
                                                                    <td colspan="6" class="hiddenRow">
                                                                        <div class="accordian-body collapse p-3" id="{{e.id}}">
                                                                            <p>Date : <span>{{e.date}}</span>
                                                                            <p>Day : <span>{{e.date|date:'l'}}</span> </p>
                                                                            <p>Source : <span>{{e.source}}</span> </p>
                                                                            <p>Income : <span>{{e.income}}</span> </p>

                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                   {% else %}
                                   No income this week
                                   {% endif %}
                               </fieldset>

                     </div>
                    <div class="card" style="width: 500; height: 50vh; margin-bottom: 20px;">
                        
                            <canvas id="incomeChart" ></canvas>
                       
                    </div>
                     

                </div>

        </div>

    </div>


<script>
        $('.accordion-toggle').click(function(){
        $('.hiddenRow').hide();
        $(this).next('tr').find('.hiddenRow').show();
        });
   </script>
   <script>
    const renderincomeChart=(amount,sources) => {
            var ctx = document.getElementById('incomeChart').getContext('2d');
            var incomeChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels:sources,
                    datasets: [{
                        label: 'Income By Source',
                        data:amount ,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                  title:{
                    display:true,
                    text:'Money Details'
                  },
                  legend:{
                      display:true,
                      text:'Money Detail',
                      position:'bottom',
                      align:'center'                    
                  },
                  responsive:true,
                  maintainAspectRatio:false
                  
              },                
            });
    }
    
    
    const getincomeChartData = () => {
        var sources = {{sources|safe}};
            var amount = {{amount|safe}};   
            
            
                    renderincomeChart(amount,sources)
                
            };
    
    document.onload = getincomeChartData(); 
    </script>


{% endblock %}
