{% extends 'master/base.html' %}

{% block 'title' %}
ExpenseTracker| Expenses
{% endblock %}

{% block 'content' %}
    <div class="container pt-3">

         <div class="row">

                    {% include 'partials/sidebar.html' %}

                    <div class="col-md-8">

                                <div class="jumbotron">

                                            <form action="{% url 'exp_create' %}" method="post">

                                                        {{form}}
                                                        {% csrf_token %}
                                                        <br>
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                            </form>

                                </div>

                    </div>
         </div>

    </div>
<script>

          document.getElementById("id_date").valueAsDate = new Date();

          {% if msg %}
                   alert("{{msg}}")
        {% endif %}
        
          {% if errmsg %}
                   alert("{{errmsg}}")
          {% endif %}



</script>
{% endblock %}
