{% extends 'master/base.html' %}

{% block 'title' %}
ExpenseTracker| Expenses
{% endblock %}

{% block 'content' %}
    <div class="container pt-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses_home' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
        </ol>
      </nav>
         <div class="row">

                    {% include 'partials/sidebar.html' %}

                    <div class="col-md-8">

                                <div class="jumbotron" style="background: rgba(133, 187, 101, 0.1);">

                                            <form action="{% url 'exp_create' %}" method="post">

                                                        {{form}}
                                                        {% csrf_token %}
                                                        <br>
                                                        <button type="submit" class="btn btn-primary">Add</button>
                                            </form>

                                </div>

                    </div>
         </div>

    </div>
<script>

          document.getElementById("id_date").valueAsDate = new Date();

          {% if msg %}
                   alert("{{msg}}")
        {% endif %}
        
          {% if errmsg %}
                   alert("{{errmsg}}")
          {% endif %}



</script>
{% endblock %}
