{% extends 'master/base.html' %}
{% block 'title' %}
Expense Summary
{% endblock %}


{% block 'css' %}
    <style>
            #myInput {
              font-size: 16px;
              padding: 12px 20px 12px 40px;
              border: 1px solid #ddd;
              margin-bottom: 12px;
            }
            #from_date {
              font-size: 16px;
              padding: 12px 20px 12px 40px;
              border: 1px solid #ddd;
              margin-bottom: 12px;
            }
            #to_date {
              font-size: 16px;
              padding: 12px 20px 12px 40px;
              border: 1px solid #ddd;
              margin-bottom: 12px;
            }
            .hiddenRow {
                padding: 0 4px !important;
                background-color: #eeeeee;
                font-size: 20px;
            }
            .accordian-body span{
                color:#a2a2a2 !important;
            }
            .filter{
                display: none;
            }
    </style>

{% endblock %}



{% block 'content' %}
<div class="container pt-3">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">M-Track</a></li>
      <li class="breadcrumb-item"><a href="{% url 'expenses_home' %}">Expenses</a></li>
      <li class="breadcrumb-item active" aria-current="page">Expense Summary</li>
    </ol>
  </nav>
</div>

         

    



<div class="container">

    <div class="row">

        <div class="col-sm-1"><input type="button" id='filterbutton' class="btn" onclick="filter()" style="margin-top: 20px; margin-bottom: 20px;" value="Filter"></div>
        
        <div class="col-sm-11">
            <div class="filter" id='filter'>

            <form method="GET" name='datefilter'>
                
                <div class="card" style="margin-bottom: 20px;">

                    <div class="row">
                        <div class="col-sm-3"><input type="text" name="from_date" id="from_date" placeholder="From Date" onfocus="(this.type='date')" onblur="(this.type='text')" onChange="datefilter.submit();" value="{{from_date}}" style="margin-top:20px;margin-left: 2vw;" ><br></div>
                        <div class="col-sm-3"><input type="text" name="to_date" id="to_date" placeholder="To Date" onfocus="(this.type='date')" onblur="(this.type='text')" onChange="datefilter.submit();" value="{{to_date}}" style="margin-top:20px;margin-left: 2vw;" ><br></div>
                        <div class="col-sm-3"><input type="text" id="myInput" placeholder=" Search Category,title,..." onkeyup="searchTable()" style="margin-top:20px; margin-left: 2vw;" ></div>
                        <div class="col-sm-1"><input type="button"class="btn" value="Clear" id="clear" onclick="cleardate()" style=" margin-top: 25px; margin-bottom: 20px; margin-left: 2vw;"></div>
                        <div class="col-sm-2"><div class="dropdown">
                        </div></div>
                      </div>
                    
                    
                </div>
                
 
            </form>
            
    
            </div>
        </div>
    </div>

    <div class="btn-group dropright mb-3">
      <a href="{% url 'expenses' %}">
      <button type="button" class="btn ">
        All
      </button></a>
      <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropright</span>
      </button>
      
        <div class="dropdown-menu">
          <a class="dropdown-item" href="?no=5&from_date={{from_date}}&to_date={{to_date}}">5</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="?no=10&from_date={{from_date}}&to_date={{to_date}}">10</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="?no=15&from_date={{from_date}}&to_date={{to_date}}">15</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="?no=20&from_date={{from_date}}&to_date={{to_date}}">20</a>
        </div>        
    </div>
      
    <div class="table-responsive">  
      <p>From:{{from_date}} To: {{to_date}}</p>   
     <table class="table table-hover table-bordered table-light" name="expensetable">
        <thead>
        <th>Category</th>
            <th>Title</th>
            <th>Date</th>
            <th>Cost </th>
            <th>Action</th>
        </thead>

        <tbody id="expensebody">
            {% for e in expenses %}
                        <tr colspan="6" data-toggle="collapse" data-target="#{{e.id}}" class="accordion-toggle">
                            <td>{{e.category}}</td>
                            <td>{{e.title}}</td>
                            <td>{{e.date}}</td>
                            <td class="amount">{{e.costs}}</td>
                            <td><a href="#" onclick="_edit('{% url 'exp_edit' e.id %}')"><i class="fas fa-edit"></i></a>|<a href="#" onclick="_delete('{% url 'exp_delete' e.id %}')"><i class="far fa-trash-alt" style="color: red;"></i></a> </td>
                            

                        </tr>
                        <tr class="p">
                            <td colspan="6" class="hiddenRow">
                                <div class="accordian-body collapse p-3" id="{{e.id}}">
                                    <p>Date : <span>{{e.date}}</span> </p>
                                    <p>Day : <span>{{e.date|date:'l'}}</span> </p>
                                    <p>Category : <span>{{e.category}}</span> </p>
                                    <p>Name : <span>{{e.title}}</span> </p>
                                    <p>Cost : <span>Rs.{{e.costs}}</span></p>
                                    <p>Description : <span>{{e.description}}</span></p>
                                </div>
                            </td>
                        </tr>
            {% endfor %}

        </tbody>
        <tfoot>
            <th colspan="3">Total(in Rs.)</th><td colspan="2" id="total"></td>
        </tfoot>
    </table>
    </div>
    <!-- pagination -->
    <div class="container">
      {% if expenses.has_other_pages %}
      <nav aria-label="Page navigation example">
        <ul class="pagination">
  
          {% if expenses.has_previous %}
              <li class="page-item"><a class="page-link" href="?no={{no}}&page={{ expenses.previous_page_number }}&from_date={{from_date}}&to_date={{to_date}}">Previous</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
          {% endif %}
  
          {% for i in expenses.paginator.page_range %}
  
              {% if expenses.number == i %}
              <li class="page-item active"><a class="page-link" href="?no={{no}}&page={{ i }}&from_date={{from_date}}&to_date={{to_date}}">{{ i }}</a></li>
               {% else %}
              <li class="page-item"><a class="page-link" href="?no={{no}}&page={{ i }}&from_date={{from_date}}&to_date={{to_date}}">{{ i }}</a></li>
              {% endif %}
              
          {% endfor %}
  
          {% if expenses.has_next %}
              <li class="page-item"><a class="page-link" href="?no={{no}}&page={{ expenses.next_page_number }}&from_date={{from_date}}&to_date={{to_date}}">Next</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
          {% endif %}
  
        </ul>
      </nav>
      {% endif %}
      <!-- end pagination -->

      <!-- chart -->

      <div class="card" style="width: 500; height: 50vh; margin-bottom: 20px;">
        <canvas id='expenseChart'></canvas>
      </div>
      <!-- end chart  -->
    </div>    
</div>

{% for message in messages %}
    <script>
    alert("{{message}}")
    </script>
{% endfor %}

<script>
         function _delete(url){
         bootbox.confirm("Confirmation to delete?", function(result){
            if(result){
                window.location.href=url
                }
         });
        }
        function _edit(url){
         bootbox.confirm("Confirmation to edit?", function(result){
            if(result){
                window.location.href=url
                }
         });
        }

        $('.accordion-toggle').click(function(){
        $('.hiddenRow').hide();
        $(this).next('tr').find('.hiddenRow').show();
        });

    function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("expensebody");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td");
          for (j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
              found = true;
            }
          }
          if (found) {
            tr[i].style.display = "";
            found = false;
          } else {
            tr[i].style.display = "none";
          }
        }
        var cls = document.getElementById("expensebody").getElementsByTagName("td");
        var sum = 0;
        for (var i = 0; i < cls.length; i++) {
          // Here you check if it's a countable class and the parent tr's style is a visible tr
          if (cls[i].className == "amount" && cls[i].closest("tr").style.display != "none") {
            sum += isNaN(cls[i].innerHTML) ? 0 : parseFloat(cls[i].innerHTML);
          }
        }
        document.getElementById('total').innerHTML = sum;

      }

      var cls = document.getElementById("expensebody").getElementsByTagName("td");
      var sum = 0;
      for (var i = 0; i < cls.length; i++) {
        if (cls[i].className == "amount") {
          sum += isNaN(cls[i].innerHTML) ? 0 : parseInt(cls[i].innerHTML);
        }
      }
      document.getElementById('total').innerHTML += sum;

    //for filter button
    function filter() {
        var x = document.getElementById("filter");
        // document.getElementById("filterbutton").value="Clear";
        
        if (x.style.display === "none") {
            x.style.display = "block";           
            
            
        } else {
            x.style.display = "none"; 
                       
        }
        
        }
        function cleardate(){
          var today = new Date();
          var dd = String(today.getDate()).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
          var yyyy = today.getFullYear();

            document.getElementById("from_date").value=yyyy+'-01-01';
            document.getElementById("to_date").value=yyyy+'-'+mm+'-'+dd;
            datefilter.submit();
        }

</script>

<script>

  const renderChart=(amount,category) => {
          var ctx = document.getElementById('expenseChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                  labels:category,
                  datasets: [{
                      label: 'Categories',
                      data:amount ,
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.5)',
                          'rgba(54, 162, 235, 0.5)',
                          'rgba(255, 206, 86, 0.5)',
                          'rgba(75, 192, 192, 0.5)',
                          'rgba(153, 102, 255, 0.5)',
                          'rgba(255, 159, 64, 0.5)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 2
                  }]
              },
              options: {
                    title:{
                      display:true,
                      text:'Money Details'
                    },
                    legend:{
                        display:true,
                        text:'Money Detail',
                        position:'bottom',
                        align:'center'
                      },
                    responsive:true,
                    maintainAspectRatio:false
                    
                },                
          });
  }
  
  const getChartData = () => {
    var category = {{categories|safe}};
    var amount = {{amount|safe}};     
    console.log(category,amount)
      renderChart(amount,category);
             };    

  
  document.onload = getChartData();
  
  </script>


{% endblock %}
