{% extends 'master/base.html' %}
{% block 'title' %}
 Expenses
{% endblock %}

<!--{% block 'add' %} <li class="inactive"><a href="/admin/expenses/">Add<span class="sr-only">(current)</span></a></li> {% endblock %}-->

{% block 'content' %}
<table class="table table-hover table-light">
    <th>Title</th>
    <th>Category</th>
    <th>Description</th>
    <th>Date</th>
    <th>Cost </th>
    <th>Action</th>
    <th>Total</th>

     {% for e in expenses %}
        <tr>
            <td>{{e.title}}</td>
            <td>{{e.category}}</td>
            <td>{{e.description}}</td>
            <td>{{e.date}}</td>
            <td>{{e.costs}}</td>

            <td><a href="{% url 'exp_edit' e.id %}">edit</span></a>|<a href="#" onclick="_delete('{% url 'exp_delete' e.id %}')">delete</a> </td>
            <td></td>
            <td>{{total}}</td>
        </tr>
     {% endfor %}


</table>

{% endblock %}
|