{% extends 'master/base.html' %}
{% block 'title' %}
Income
{% endblock %}


{% block 'css' %}



    <style>
            #myInput {
              font-size: 16px;
              padding: 12px 20px 12px 40px;
              border: 1px solid #ddd;
              margin-bottom: 12px;
            }
            #from_date {
              font-size: 16px;
              padding: 12px 20px 12px 40px;
              border: 1px solid #ddd;
              margin-bottom: 12px;
            }
            #to_date {
              font-size: 16px;
              padding: 12px 20px 12px 40px;
              border: 1px solid #ddd;
              margin-bottom: 12px;
            }
            .hiddenRow {
                padding: 0 4px !important;
                background-color: #eeeeee;
                font-size: 20px;
            }
            .accordian-body span{
                color:#a2a2a2 !important;
            }
            .filter{
              display: none;
            }

    </style>

{% endblock %}



{% block 'content' %}
<div class="container pt-3">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'income_home' %}">Income</a></li>
      <li class="breadcrumb-item active" aria-current="page">Income Summary</li>
    </ol>
  </nav>
</div>

         

    



<div class="container">

    <div class="row">

        <div class="col-sm-1"><input type="button" id='filterbutton' class="btn" onclick="filter()" style="margin-top: 20px; margin-bottom: 20px;" value="Filter"></div>
        
        <div class="col-sm-11">
            <div class="filter" id='filter'>

            <form method="GET" name='datefilter'>
                
                <div class="card" style="margin-bottom: 20px;">

                    <div class="row">
                        <div class="col-sm-4"><input type="text" name="from_date" id="from_date" placeholder="From Date" onfocus="(this.type='date')" onblur="(this.type='text')" onChange="datefilter.submit();" value="{{from_date}}" style="margin-top:20px;margin-left: 2vw;" ><br></div>
                        <div class="col-sm-4"><input type="text" name="to_date" id="to_date" placeholder="To Date" onfocus="(this.type='date')" onblur="(this.type='text')" onChange="datefilter.submit();" value="{{to_date}}" style="margin-top:20px;margin-left: 2vw;" ><br></div>
                        <div class="col-sm-4"><input type="text" id="myInput" placeholder=" Search Category,title,..." onkeyup="searchTable()" style="margin-top:20px; margin-left: 2vw;" ></div>
                        <div class="col-sm-1"><input type="button"class="btn" value="Clear" id="clear" onclick="cleardate()" style=" margin-top: 25px; margin-bottom: 20px; margin-left: 2vw;"></div>
                    </div>
                    
                    
                </div>
                
 
            </form>
            
    
            </div>
        </div>
    </div>

    
    

    
    <div class="table-responsive">
      <div class="btn-group dropright">
        <a href="{% url 'expenses' %}">
        <button type="button" class="btn btn-secondary">
          All
        </button></a>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropright</span>
        </button>
        
          <div class="dropdown-menu">
            <a class="dropdown-item" href="?no=5">5</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="?no=10">10</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="?no=15">15</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="?no=20">20</a>
          </div>        
      </div>
      <table class="table table-hover table-bordered table-light" name='incometable'>
        <thead>
                  <th>Source</th>
                  <th>Income</th>
                  <th>Date</th>
                  <th>Action</th>
        </thead>
        <tbody id="incomebody">

            {% for e in incomes %}
                        <tr colspan="6" data-toggle="collapse" data-target="#{{e.id}}" class="accordion-toggle">
                            <td>{{e.source}}</td>
                            <td class='amount'>{{e.income}}</td>
                            <td>{{e.date}}</td>
                            <td><a href="#" onclick="_edit('{% url 'inc_edit' e.id %}')">e</a>|<a href="#" onclick="_delete('{% url 'inc_delete' e.id %}')">d</a> </td>
                        </tr>
                        <tr class="p">
                            <td colspan="6" class="hiddenRow">
                                <div class="accordian-body collapse p-3" id="{{e.id}}">
                                    <p>Date : <span>{{e.date}}</span> </p>
                                    <p>Day : <span>{{e.date|date:'l'}}</span> </p>
                                    <p>Source : <span>{{e.source}}</span> </p>
                                    <p>Income : <span>{{e.income}}</span> </p>

                                </div>
                            </td>
                        </tr>
              {% endfor %}

        </tbody>
        <tfoot>
          <th>Total( in Rs.)</th><td id='total'></td>
        </tfoot>




    </table>
    <!-- {% if incomes.has_other_pages %} -->
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if incomes.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ incomes.previous_page_number }}">Previous</a></li>
        {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}

        {% for i in incomes.paginator.page_range %}
            {% if incomes.number == i %}
            <li class="page-item disabled"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if incomes.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ incomes.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
      </ul>
    </nav>
    <!-- {% endif %} -->
  </div>
    
    

</div>


    <script>
         function _delete(url){
         bootbox.confirm("Confirmation to delete?", function(result){
            if(result){
                window.location.href=url
                }
         });
        }
        function _edit(url){
         bootbox.confirm("Confirmation to edit?", function(result){
            if(result){
                window.location.href=url
                }
         });
        }

        $('.accordion-toggle').click(function(){
        $('.hiddenRow').hide();
        $(this).next('tr').find('.hiddenRow').show();
        });

    </script>

<script>
  //for sum
  // $(function() {

  //       var TotalValue = 0;
  //       $("tr #income").each(function(index,value){
  //         currentRow = parseFloat($(this).text());
  //         TotalValue += currentRow
  //       });

  //       document.getElementById('total').innerHTML = TotalValue;

  //       });
    // for search
//         $(document).ready(function search(){
//         $("#myInput").on("keyup", function() {
//             var value = $(this).val().toLowerCase();
//             $("#income tr").filter(function() {
//             $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
//             });
//         });
//         $(function() {

// var TotalValue = 0;
// $("tr #amount").each(function(index,value){
//   currentRow = parseFloat($(this).text());
//   TotalValue += currentRow
// });

// document.getElementById('total').innerHTML = TotalValue;

// });
//         });


  function searchTable() {
  var input, filter, found, table, tr, td, i, j;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("incomebody");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
        found = true;
      }
    }
    if (found) {
      tr[i].style.display = "";
      found = false;
    } else {
      tr[i].style.display = "none";
    }
  }
  var cls = document.getElementById("incomebody").getElementsByTagName("td");
  var sum = 0;
  for (var i = 0; i < cls.length; i++) {
    // Here you check if it's a countable class and the parent tr's style is a visible tr
    if (cls[i].className == "amount" && cls[i].closest("tr").style.display != "none") {
      sum += isNaN(cls[i].innerHTML) ? 0 : parseFloat(cls[i].innerHTML);
    }
  }
  document.getElementById('total').innerHTML = sum;

}
var cls = document.getElementById("incomebody").getElementsByTagName("td");
var sum = 0;
for (var i = 0; i < cls.length; i++) {
  if (cls[i].className == "amount") {
    sum += isNaN(cls[i].innerHTML) ? 0 : parseInt(cls[i].innerHTML);
  }
}
document.getElementById('total').innerHTML += sum;

    //for filter button
  

 
    function filter() {
        var x = document.getElementById("filter");
        // document.getElementById("filterbutton").value="Clear";
        
        if (x.style.display === "none") {
            x.style.display = "block";           
            
            
        } else {
            x.style.display = "none"; 
             
                   
                       
        }
        }
        function cleardate(){
            document.getElementById("from_date").value="";
            document.getElementById("to_date").value=""; 
            datefilter.submit();
        }

       
</script>


{% endblock %}
