{% extends 'master/base.html' %}
{% block 'title' %}
 Incomes
{% endblock %}
{% block 'css' %}


<style>
    #myInput {
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    #from_date {
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    #to_date {
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    .hiddenRow {
        padding: 0 4px !important;
        background-color: #eeeeee;
        font-size: 20px;
    }
    .accordian-body span{
        color:#a2a2a2 !important;
    }

</style>

{% endblock %}
{% block 'content' %}
<hr>
    <form method="POST">

    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            
                <div class="col-lg-2 col-md-4 pt-3">
                    <input  type="text" class="form-control" name="from_date" id="from_date" placeholder="From Date" onfocus="(this.type='date')" onblur="(this.type='text')" required><br>
                </div>
    
                <div class="col-lg-2 col-md-4 pt-3">
                    <input  type="text" class="form-control" name="to_date" id="to_date" placeholder="To Date" onfocus="(this.type='date')" onblur="(this.type='text')" required><br>
                </div>
                
                <div class="col-lg-2 col-md-4 pt-4">
                     <button class="btn btn-primary btn-hover" type="submit" value="Show">Show</button>
                </div>
                <div class="col-lg-2 col-md-4 pt-3">
                    <input type="text" id="myInput" onkeyup="function()" placeholder="Search Category,title,...">
                    
                </div>
                
        </div>
    </div>
    
    
             
        </form>
        

    </hr>

<div class="container-fluid table-responsive pt-3">




    <table class="table table-hover table-bordered table-light">
        <thead>
          <th>Source</th>
      <th>Income</th>
    <th>Date</th>
    <th>Action</th>

        </thead>


<tbody id="income">

        {% for e in income %}
                    <tr colspan="6" data-toggle="collapse" data-target="#{{e.id}}" class="accordion-toggle">
                        <td>{{e.source}}</td>
                        <td>{{e.income}}</td>
                        <td>{{e.date}}</td>
                        <td><a href="#" onclick="_edit('{% url 'inc_edit' e.id %}')">e</a>|<a href="#" onclick="_delete('{% url 'inc_delete' e.id %}')">d</a> </td>
                    </tr>
                    <tr class="p">
                        <td colspan="6" class="hiddenRow">
                            <div class="accordian-body collapse p-3" id="{{e.id}}">
                                <p>Date : <span>{{e.date}}</span> </p>
                                <p>Day : <span>{{e.date|date:'l'}}</span> </p>
                                <p>Source : <span>{{e.source}}</span> </p>
                                <p>Income : <span>{{e.income}}</span> </p>

                            </div>
                        </td>
                    </tr>
     {% endfor %}

</tbody>




</table>

</div>

<script>

     function _delete(url){
     bootbox.confirm("Confirmation to delete?", function(result){
        if(result){
            window.location.href=url
            }
     });
    }
    function _edit(url){
     bootbox.confirm("Confirmation to edit?", function(result){
        if(result){
            window.location.href=url
            }
     });
    }

  document.getElementById("to_date").valueAsDate = new Date();
    $('.accordion-toggle').click(function(){
        $('.hiddenRow').hide();
        $(this).next('tr').find('.hiddenRow').show();
        });

</script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#income tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}
