{% extends 'master/base.html' %} 

{% load static %} 

{% block 'title' %} Home {% endblock %} 

{% block 'css' %}

<style>
  .wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
</style>

{% endblock %} 

{% block 'content' %}

<img class="wave" src="{% static 'image/wave.png' %}" />

<div style="position: absolute;top: 25%; width: 100%;text-align: center;font-size: 18px;">
  <h1>Welcome to M-Track</h1>
  You are not logged in
  <h4>Have an account?</h4>
  <a href="{% url 'auth_user' %}"><button class="btn btn-primary mt-1 mb-1" value="Add Income">Login</button></a>
  <h4>New User?</h4>
  <a href="{% url 'register' %}"><button class="btn btn-primary mt-1 mb-1" value="Add Income">Register</button></a>
</div>

{% for message in messages %}
<script>
  alert("{{message}}");
</script>
{% endfor %} {% endblock %}
